*.VC.db
*.a
*.desktop
*.diff
*.dylib
*.gcda
*.gcno
*.gcov
*.h.included
*.lnk
*.lnk
*.lo
*.lst
*.o
*.obj
*.orig
*.patch
*.rej
*.so
*.url
*.user
*.user.*
*.vcxproj.user
*~
.DS_Store
.vs
/configure.log
/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc
Debug
GeneratedFiles
Release
Win32
_*
build*
x64
